branches/staff-2.0.0-tp6/staff/tests/regress/147/test/test.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schema.example.com" targetNamespace="http://schema.example.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schema.example.com">
      <xsd:complexType name="testArray">
        <xsd:complexContent>
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:test[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="test">
        <xsd:all>
          <xsd:element name="f1" type="xsd:int"/>
          <xsd:element name="f2" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <message name="testOpRequest">
    <part name="data" type="xsd:string"/>
  </message>
  <message name="testOpResponse">
    <part name="testOpReturn" type="tns:testArray"/>
  </message>
  <wsdl:portType name="Test147PortType">
    <wsdl:operation name="testOp">
      <wsdl:input message="tns:testOpRequest"/>
      <wsdl:output message="tns:testOpResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <binding name="Test147Binding" type="tns:Test147PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="testOp">
      <soap:operation style="rpc"/>
      <wsdl:input>
        <soap:body use="encoded" namespace="http://schema.example.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://schema.example.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </binding>
  <wsdl:service name="Test147">
    <wsdl:port name="Test147Port" binding="tns:Test147Binding">
      <soap:address location="https://tempui.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
